# Gradle & build artifacts
/build
/.gradle
.gradle/
**/build/
**/out/

# IDE files
/.idea
/.project
/.settings
*.iml
*.ipr
*.iws

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Environment & secrets
*.env
.env.*

.git
**/target
**/*.class
